name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: "ci-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

env:
  DEVELOPER_DIR: /Applications/Xcode_14.3.1.app/Contents/Developer

jobs:
  build-test:
    name: Build and Test
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift build -Xswiftc -warnings-as-errors --build-tests

      - name: Test
        run: swift test --skip-build --parallel --filter TMDbTests
      
      - name: Build for Release
        run: swift build -c release -Xswiftc -warnings-as-errors
  
  build-and-test-platforms:
    name: Build and Test (${{ matrix.name }})
    runs-on: macos-13
    continue-on-error: true
    strategy:
      matrix:
        include:
          - name: iPhone
            destination: platform=iOS Simulator,name=iPhone 14,OS=16.4
          - name: Apple Watch
            destination: platform=watchOS Simulator,name=Apple Watch Series 8 (45mm),OS=9.4
          - name: Apple TV
            destination: platform=tvOS Simulator,name=Apple TV 4K (3rd generation),OS=16.4

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: xcodebuild build-for-testing -scheme TMDb -only-testing TMDbTests -destination '${{ matrix.destination }}'
      
      - name: Test
        run: xcodebuild test-without-building -scheme TMDb -only-testing TMDbTests -destination '${{ matrix.destination }}'
  
  build-test-linux:
    name: Build and Test (Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift build -Xswiftc -warnings-as-errors --build-tests

      - name: Test
        run: swift test --skip-build --parallel --filter TMDbTests
      
      - name: Build for Release
        run: swift build -c release -Xswiftc -warnings-as-errors

  build-documentation:
    name: Build Documentation
    runs-on: macos-13
    env:
      SWIFTCI_DOCC: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift package generate-documentation --product TMDb
