name: Integration

on:
  pull_request:
    branches:
      - main
  schedule:
    # Every Sunday at 12am
    - cron:  '0 0 * * 0'
  workflow_dispatch:

concurrency:
  group: "integration-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

env:
  DEVELOPER_DIR: /Applications/Xcode_14.3.1.app/Contents/Developer

jobs:
  integration-test:
    name: Integration Test
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: swift build --build-tests

      - name: Test
        run: swift test --skip-build --filter TMDbIntegrationTests
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
