name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: "lint-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  swiftlint:
    name: Swiftlint
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/realm/swiftlint:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Swiftlint
        run: swiftlint --strict --reporter github-actions-logging

  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint README
        run: docker run -v $PWD:/workdir ghcr.io/igorshubovych/markdownlint-cli:latest "README.md"

      - name: Lint DocC files
        run: docker run -v $PWD:/workdir ghcr.io/igorshubovych/markdownlint-cli:latest "**/*.docc/**/*.md"
