name: Lint Markdown

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - ".github/workflows/lint-markdown.yml"
      - "**/*.md" 
  workflow_dispatch:

concurrency:
  group: "lint-markdown-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/igorshubovych/markdownlint-cli:v0.41.0
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint README
        run: markdownlint "README.md"

      - name: Lint DocC files
        run: markdownlint "**/*.docc/**/*.md"
