name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - ".github/workflows/lint.yml"
      - ".swift-format"
      - "**/*.swift"
  workflow_dispatch:

concurrency:
  group: "lint-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

env:
  DEVELOPER_DIR: /Applications/Xcode_26.2.app/Contents/Developer

jobs:
  swiftFormat:
    name: swift-format
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: SwiftFormat
        run: swift format lint -r -p --strict .
