name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - ".github/workflows/lint.yml"
      - "**/*.swift"
  workflow_dispatch:

concurrency:
  group: "lint-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  swiftLint:
    name: SwiftLint
    runs-on: macos-15
    env:
      DEVELOPER_DIR: /Applications/Xcode_16.1.app/Contents/Developer
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install swiftlint
        run: brew install swiftlint

      - name: Swiftlint
        run: swiftlint --strict --reporter github-actions-logging

  swiftFormat:
    name: SwiftFormat
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/nicklockwood/swiftformat:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: SwiftFormat
        run: swiftformat --lint --reporter github-actions-log .
