name: Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    paths:
      - ".github/workflows/lint.yml"
      - "**/*.swift"
  workflow_dispatch:

concurrency:
  group: "lint-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  swiftlint:
    name: SwiftLint
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/realm/swiftlint:0.53.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Swiftlint
        run: swiftlint --strict --reporter github-actions-logging

  swiftformat:
    name: SwiftFormat
    runs-on: ubuntu-latest
    container:
      image: docker://ghcr.io/nicklockwood/swiftformat:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: SwiftFormat
        run: swiftformat --lint --reporter github-actions-log .
